[Unit]
Description=MDroid CAN
After=mdroid-core.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2
User=root
ExecStart=/usr/bin/python /home/pi/MDroid/MDroid-CAN/mdroid-can.py --settings-file /home/pi/MDroid/config.json &> /home/pi/MDroid/logs/can/`date +\%Y-\%m-\%d_\%H:\%M:\%S`-can.log

[Install]
WantedBy=multi-user.target